#baixo p{
    margin: 1px !important;
    font-size: 12px !important;
    text-align: right;
}
#baixo img{
    height: 30px !important;
}
#assine{
    background-color: black !important;
    border-radius: 7px !important;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 7px;
    padding-bottom: 2px;
}
section{
    background-color: rgb(173, 173, 173);
}
.titulobb{
    font-size: 70px;
}
